.main-page {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 40px;
}
